*{
    font-family: monospace;
}
body{
    background-color: silver!important;

}

#jumbotron {
    text-align: center;
    background: linear-gradient(180deg, lightblue, whitesmoke);
    color:black;
    border-radius: 0;
    border-bottom: 0.5px solid black;
    padding-top: 20px;
    padding-bottom: 9px;
    margin-bottom: 20px;

}
#searchBar {
    padding-top: 8px;
    font-weight: bold;
}

#wave-info{
    background: primary;
    color: black;
    margin-right: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    margin-top: 8px;
    padding: 8px;
    border-radius: 10px;
    background: lightblue;
    border: 3px solid;
}


#current-t-container{
    background:lightblue;
    border-radius:10px;
    border: 3px solid;
    border-radius: 10px;
    margin-top: 10px;
    
    
}
#searchbox {
    border-radius: 10px;
    border: 3px solid;
    border-radius: 10px;
}